.logoDiv {
  border-right: 3px solid #002c3f;
}
.landingpage {
  border-right: 3px solid white;
}
.navBtn {
  background-color: white;
  color: #667085;
  border: 0px !important;
}
.navbar {
  background-color: #ffffff;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
}
.LoginBtn {
  color: #28519e;
  background-color: white;
  border: 2px solid #28519e;
}
.signupbtn {
  background-color: #28519e;
}
.checked{
  background-color: #28519E !important;
  color: white !important;
}

