<div class="flex justify-content-center align-items-center">
  <div
    class="md:col-8 sm:col-10 lg:col-8 flex justify-content-center align-items-center flex-wrap main-div"
  >
  
    <div class="md:col-6 sm:col-12 d-flex flex-column justify-content-between  left">
        
  
    </div>
    
    <div class="md:col-6 sm:col-12  p-5 align-items-center justify-content-center  right">
      <h2 class="text-login font-bold">Login</h2>
        <div  class=" w-100 div1 mt-5 p-0">
        
          <div class="flex-colum ">
            <!-- for email input  -->
          <div class="emailLabel mt-4  w-100 text-start text-lg p-0 pt-5">
            <label for="emailInput">Email ID</label>
             <input #email id="emailInput" type="email" aria-describedby="username1-help" pInputText class="w-100 px-3"/>
           </div>

          <!-- for password input -->
           <div class="emailLabel w-100 text-start pt-4 pb-5">
            <label for="passwordInput" class="text-base">Password</label>
             <input  #password id="passwordInput" type="password" aria-describedby="username1-help" pInputText class="w-100 px-3"/>
           </div>
           
           <button type="button"  class="btn btn-success text-black border border-light LoginBtn w-100 ms-2 mt-3" id="Loginbtn" routerLink="/Login" routerLinkActive="active-button"> Login </button>
            <div class="d-flex flex-column ">
           <a id="forgetPassword" (click)="forgetPassword()" routerLink="/forgot-password" class="loginText block pt-3">Forgot password? </a>
            <a id="firstTimeUser" (click)="redirectToRegisterPage()" class="loginText block pt-4">Sign Up if you are a first time user  </a>
          </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
