.chips {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 8px;
  gap: 8px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;

  background: #f5cd6f;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.cards {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.question-card-select {
  cursor: pointer;
}
.question-card-select:hover {
  background-color: rgb(211, 211, 211);
}
.avatar {
  /* Ellipse 6 */

  width: 42px;
  height: 42px;

  background: url("../../assets/images/Ellipse\ 6.png");

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
p {
  margin: 0 !important;
}

::ng-deep button.btn.btn-primary {
  background-color: #28519e !important;
}
