*{
    font-family: 'Roboto', sans-serif;
  }
  #form-card {
    height:40px;
    width:30px;
    box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
  }
  
  // img {
  //   margin-left: 6rem;
  //   width: 20rem;
  //   height: 20rem;
  // }
  .main-div {
    height: 100vh;
    
    justify-content:center ;
    text-align:left;
    
    display: flex;
    
  }
 
h3{
  font-family: 'Roboto';
}

 
  
  
 
  
  
 
  
  
  
  #signUpBtn{
    margin-top: 1px;
  }
  #forgetPassword{
    justify-content: center;
    text-align: center;
    display: flex;
    text-decoration: none;
  }
  #firstTimeUser{
    justify-content: center;
     display: flex;
     text-decoration: none;
  }
  
  .form-control:focus {
    // border-color: #ff0000;
    border-bottom: 1.5px solid black !important;
    outline: none !important;
    border-radius: 0;
    // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    box-shadow: none;
  }
  
  //svg icons for form starts here---
  .svg-name {
    position: relative;
  }
  
  .svg-name:before {
    content: "";
    position: absolute;
    left: 0.5rem;
    top: 0;
    bottom: 0;
    width: 1rem;
   
  }
  
  input[type="text"] {
    padding: 10px 30px;
  }
  
  ///------------
  
  .svg-email {
    position: relative;
  }
  
  .svg-email:before {
    content: "";
    position: absolute;
    left: 0.5rem;
    top: 0;
    bottom: 0;
    width: 1rem;
   
  }
  
  
  ///-------
  
  .svg-password {
    position: relative;
  }
  
  .svg-password:before {
    content: "";
    position: absolute;
    left: 0.5rem;
    top: 0;
    bottom: 0;
    width: 1rem;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 448 512' fill-rule='evenodd'%3E%3Cpath d='M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z'%3E%3C/path%3E%3C/svg%3E")
      center / contain no-repeat;
  }
  
  //-------
  
  //ends here ----
  //new CSS starts here
  
  

  .right {
  
    box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.1);
   
   
  }
  
  .left {
    
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }
  .right {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: white;
  }
  .main-div {
    border-radius: 0.5rem;
  }

 

  #right-img{
    padding:0 !important;
    width: 86%;
    height: 48px;
  }
  #ms-logo {
    padding: 0 !important;
    width: 2rem;
    height: 2rem;
  }
  
  p {
    text-align: center;
    padding: 0.5rem 3rem;
   
  }
  :host ::ng-deep .grid {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  :host ::ng-deep {
    width: 365px;
    height: 29px;
  
    font-family: "Lato";
    font-style: normal;
  
    // line-height: 29px;
    /* identical to box height */
  
    text-align: center;
  }
  
  
  
  

  
  #alreadyMemberText{
    color:#072763;
  
  }
  #signUpBtn{
  
    color: whitesmoke;
  }
  
  .loginText{
    color: #28519E !important;
  
  }
  a:hover{
    cursor: pointer;
  }

  
  



//   
.main-line {
    color: #FFB81C;
    float: left;

}

:root{
  --main-bg:#e91e63;
}

.banner {
  background: url("../../assets/images/Frame\ 27059.svg");

  background-size: cover;
  overflow: hidden;
}

//
.sign-up{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
}
.form-div {
  padding-top: 3.4rem;
  padding-bottom: 5.8rem;
}
.sign-up-creditanls {
  font-weight: 400 !important;
}