<section class="vh-100 " >
    <div class="container py-5  h-100">
      <div class="row d-flex justify-content-center align-items-center h-100 w-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center ">
  
              <img  class="img-responsive " src="..\..\assets\images\CG-Logo_GoldNavy 1.svg">
             
              <div class="form-outline mb-4">
              <h5>  People First + Driven To Transform</h5>
              <div class="image">
              <img class="img-responsive"src="..\..\assets\images\Frame 27096.png">
            </div>
              </div>
  
              <div class="form-outline mb-2">
               <h3><b>Password Changed!</b></h3>
              </div>
  
              <!-- Checkbox -->
    <div class="password-changed mb-4">        
  <p>Your Password has been successfully changed.</p>
</div>
  
  
            
                <button class="btn btn-warning btn-lg btn-block" type="submit">Continue</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  