<div class="container" style="padding: 40px;">

    <div class="row">
  
      <div class="col" *ngFor="let language of languages">
  
        <div class="card col" style="width: 18rem; height: 15rem">
  
          <ul class="list-group list-group-flush">
  
            <div class="d-flex justify-content-between">
              <a href="">{{ language.name }}</a> 
  
                <img class="card-img-top" src="{{ language.logo }}" alt="Card image cap" class="img_size " >
            </div>
  
  
          </ul>
  
          <div class="card-body">
  
            <p class="myDIV card-text">{{language.description |  slice:0:120}}...</p>
  
          </div>
  
        </div>
  
      </div>
    </div>
  
  </div>