.img_size{
    height: 50px;
    width: 50px;
}
.p-card-header img {
    width: 15rem;
    background-size: cover;
}
.border-primary {
    border-color: #0d6efd!important;
    height: 34px;
    width: 102px;
}